.card-container,
.card,
.score {
    display: flex;
}

.card-container {
    flex-direction: column;
    gap: 16px;
}

.card,
.lyric-card {
    background-color: #272343;
    padding: 32px;
} 

.lyric-card,
.style-list {
    font-weight: 400;
    border-radius: 5px;
}

.card {
    align-items: center;
    justify-content: space-between;
    max-width: 860px;
}

.score {
    align-items: center;
}

.score img {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 16px;
}

.lyric a:-webkit-any-link ,
.lyric{
    width: 24px;
    height: 24px;
}

.card a:-webkit-any-link,
.card,
.lyric-card {
    color: #FFFFFF;
}

.style-list {
    font-size: 32px;
}

.style-list a:-webkit-any-link {
    color: #000000;
}