.card-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #FFFFFF;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #272343;
    max-width: 860px;
}