body,
footer,
main {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin: auto;
}

body {
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    font-size: 30px;
}

h3 {
    font-size: 15px
}

ul {
    list-style: none;
    padding: 0;
}

#root {
    max-width: 565px;
    margin: auto;
}

ul .style {
    font-size: 24px;
}

img {
    cursor: pointer;
    max-width: 20px;
}

a:-webkit-any-link {
    text-decoration: none;
}

footer {
    text-align: center;
}

footer a {
    font-family: 'Segoe Print';
    color: gray;
}
pre {
    font-family: inherit;
    font-size: 8px;
    line-height: 13px;
}

@media (min-width: 375px) {
    h1 {
        font-size: 36px;
    }

    h3 {
        font-size: 20px;
    }

    ul .style {
        font-size: 32px;
    }    

    img {
        max-width: 24px;
    }

    pre {
        font-size: 14px;
        line-height: 27px;
    }
}