body,
footer,
main {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin: auto;
}

ul {
    list-style: none;
    padding: 0;
}

#root {
    max-width: 565px;
    margin: auto;
}

ul .style {
    font-size: 32px;
}

img {
    cursor: pointer;
    max-width: 24px;
}

a:-webkit-any-link {
    text-decoration: none;
}

footer {
    text-align: center;
}

footer a {
    font-family: 'Segoe Print';
    color: gray;
}