body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin: auto;
}

ul {
    list-style: none;
    padding: 0;
}

#root {
    max-width: 565px;
    margin: auto;
}

ul .style {
    font-size: 32px;
}

img {
    cursor: pointer;
    max-width: 24px;
}

a:-webkit-any-link {
    color: #272343;
    text-decoration: none;
}