form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.add-button {
  max-height: 60px;
  max-width: 100px;
}

button {
  background-color: #ffd803;
  border: 1px solid #ffd803;
  cursor: pointer;
  font-weight: normal;
  font-size: 24px;
  padding-left: 8px;
  padding-right: 8px;
}

textarea,
input,
select {
  max-width: 337.14px;
  background-color: #bae8e8;
  border: solid 1px #bae8e8;
  max-width: 100%;
}

input,
select,
textarea {
  padding: 8px;
}

@media (min-width: 375px) {
  form {
    display: grid;
    grid-gap: 1rem;
  }

  .add-button {
    max-height: 60px;
    max-width: 210px;
    grid-column: 2;
    grid-row: 1/5;
  }

  button {
    font-size: 32px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  input,
  select,
  textarea {
    padding: 1rem;
  }
}
