.navigation {
    display: flex;
    flex-direction: column;
}

.header > a:-webkit-any-link,
.navigation a:-webkit-any-link {
    color: #272343;
}

@media (min-width: 250px) {
    .navigation {
        flex-direction: row;
        justify-content: space-between;
    }
}